doctype html 
html
  head
    meta(charset="utf-8")
    title 书山有路
    // inject:css
    // endinject
    link(rel="shorcut icon", href="files/images/sun.ico" ,type="image/x-icon")
    
    
  body
    block main
    // inject:js
    // endinject
