doctype html 
html
  head
    meta(charset="utf-8")
    title Web App
    // inject:css
    // endinject
    link(rel="shorcut icon", href="assets/img/sun.ico" ,type="image/x-icon")
    
    
  body(ng-app="myApp")
    block main

    script(src="bundle.js")
